// Docs
.component-box
	position: relative
	.component-item
		padding: 1.5rem
		margin-right: 15px
	.code-block
		position: relative
		font-size: 14px
		display: none
		pre
			margin: 0
			border-radius: 0
		.btn-copy
			position: absolute
			top: 8px
			right: 8px

// Icon
.icon-show-code
	background: url('../../img/code.svg') center no-repeat
	background-size: 20px
	display: block
	width: 30px
	height: 20px
	line-height: 1
	opacity: .3
	position: absolute
	top: 8px
	right: 8px
	cursor: pointer
	&:hover,
	&.icon-active
		transition: .2s ease
		opacity: .7
