// Docs
.component-box
	.component-item
		padding: 1.5rem
	.code-block
		position: relative
		font-size: 14px
		pre
			margin: 0
			border-radius: 0
		.btn-copy
			position: absolute
			top: 8px
			right: 8px
